:root {
  --clr-grey: #282c34;
}

body {
  background-color: #282c3469;
}

.Header {
  background-color: var(--clr-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.Card {
  width: 30%;
  padding: 1% 2%;
  border: solid 2px var(--clr-grey);
}

.Card img {
  width: 100%;
}


.Footer {
  text-align: center;
}