@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
  --clr-grey: #282c34;
}


body {
  background-color: #282c34;
}

.Header {
  background-color: var(--clr-grey);
  text-align: center;
  color: white;
  /* margin: 2rem 0; */
  padding: 1.5rem;
  font-family: 'Berkshire Swash', cursive;
  position: sticky;
  z-index: 1001;
  top:0;
  /* border: solid 1px #0d0e11; */
  box-shadow: 0px 5px 15px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header img {
  width: 20px;
}
.Header h1 {
  font-size: 3.5rem;
}

.Main {
  margin: .5rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem .5rem;
}

.Card {
  box-shadow: 5px 5px 15px rgba(131, 131, 131, 0.637);
}

.heart:hover {
  cursor: pointer;
}

.Footer {
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.card-image:hover {
  cursor: pointer;
  border: solid 2px #282c34;
}


.modal-header {
 font-size: 1.5rem;
 font-weight: bold;
}

.modal-card img {
  /* border: solid 1px grey; */
  border-radius: 10px;
  margin: 1rem;
}

.modal-footer {
  justify-content: center;
}

.horn-form {
  margin: 2rem 4rem;
}