:root {
  --clr-grey: #282c34;
}


body {
  background-color: #282c34;
}

.Header {
  background-color: var(--clr-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1rem 0;
}

.Main {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.heart:hover {
  cursor: pointer;
}

.Footer {
  text-align: center;
}